[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Side project : Make jamming signal.
[access "refs/*"]
	owner = group user/orme (x-orme)
	owner = group user/김은혜 (EunHye32)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/orme (x-orme)
	label-Code-Review = -2..+2 group user/김은혜 (EunHye32)
	label-Verified = -1..+1 group user/orme (x-orme)
	label-Verified = -1..+1 group user/김은혜 (EunHye32)
	push = group user/orme (x-orme)
	push = group user/김은혜 (EunHye32)
	read = group user/orme (x-orme)
	read = group user/김은혜 (EunHye32)
	rebase = group user/orme (x-orme)
	rebase = group user/김은혜 (EunHye32)
	removeReviewer = group user/orme (x-orme)
	removeReviewer = group user/김은혜 (EunHye32)
	submit = group user/orme (x-orme)
	submit = group user/김은혜 (EunHye32)
[access "refs/heads/*"]
	create = group user/orme (x-orme)
	create = group user/김은혜 (EunHye32)
	push = group user/orme (x-orme)
	push = +force group user/김은혜 (EunHye32)
	pushMerge = group user/orme (x-orme)
	pushMerge = group user/김은혜 (EunHye32)
	read = group user/orme (x-orme)
	read = group user/김은혜 (EunHye32)
[access "refs/tags/*"]
	push = group user/orme (x-orme)
	push = group user/김은혜 (EunHye32)
	push = +force group user/김은혜 (EunHye32)
